telethon==1.36.0
apscheduler==3.10.4
yt-dlp==2024.8.6
gTTS==2.5.1
deep-translator==1.11.4
Pillow==10.4.0
requests==2.32.3
beautifulsoup4==4.12.3
aiohttp==3.10.11
aiosqlite==0.20.0
fastapi==0.115.0
uvicorn==0.30.6
jdatetime==4.1.1
arabic-reshaper==3.0.0
python-bidi==0.4.2
colorama==0.4.6
rich==13.8.1
python-dotenv==1.0.1
duckduckgo-search==6.2.13
mutagen==1.47.0
ffmpeg-python==0.2.0
qrcode==7.4.2
cryptography==43.0.1
schedule==1.2.2
pytz==2024.1
aiofiles==24.1.0
cryptg==0.4.0
google-genai==2.25.0
